.default {
    resize: vertical;
    outline: none;
    background: #fff;
    border: 1px solid #dedeea;
    width: 100%;
    min-height: 100px;
    max-height: 200px;
    box-sizing: border-box;
    padding: 20px 18px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: 700;
}
